{% extends "layout.html" %}
{% block title %}
    Search
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Machine Learning Research Paper Topic Evolution</h1>
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_0_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_1_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_2_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_3_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_4_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_5_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_6_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_7_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_8_evolution.png') }}" />
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_9_evolution.png') }}" />
{% endblock %}