{% extends "layout.html" %}
{% block title %}
Topic Evolution Over Time
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-12 font-italic">Machine learning subfield evolution over time</h1>
    <p class="lead my-3">Here, we analyze how research paper topics have changed over time.</p>
  </div>
</div>

<p>One of the most striking results here is the meteoric rise of neural networks and deep learning in the last five
  years. This trend is probably the most pronounced for neural networks and deep learning, but other topics have also
  seen noticeable shifts.</p>
<div class="row">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_0_evolution.png') }}" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_1_evolution.png') }}" class="img-thumbnail" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_2_evolution.png') }}" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_3_evolution.png') }}" class="img-thumbnail" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_4_evolution.png') }}" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_5_evolution.png') }}" class="img-thumbnail" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_6_evolution.png') }}" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_7_evolution.png') }}" class="img-thumbnail" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_8_evolution.png') }}" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='topic_evolution_10/topic_9_evolution.png') }}" class="img-thumbnail" />
  </div>
</div>
{% endblock %}