{% extends "layout.html" %}
{% block title %}
    Search
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Machine Learning Research Paper Search</h1>
    <p>Paste in text from a machine learning research paper and get research paper topics and similar papers.</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.search(cols="60", rows="5") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}