{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>The Evolution of Machine Learning</h1>
  <h2>Analysis by Steven Rouk—Using Machine Learning</h2>
  <div>
    <p>
      Machine learning has been defined as...
    </p>
    <p>
      Some common examples are...
    </p>
    <p>
      Machine learning has exploded in recent years, in large part due to breakthroughs made possible by modern computing power, and also because of success in commercial applications of machine learning tools and approaches...
    </p>
    <p>
      We've also seen a huge increase in the number of machine learning research papers published each year...
    </p>
  </div>
{% endblock %}