<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Custom styles -->
  <meta name="description"
    content="An analysis of the evolution of the field of machine learning using natural language processing and topic modeling.">
  <meta name="author" content="Steven Rouk">
  <title>{% block title %}{% endblock %} - Evolution of Machine Learning</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
  {% endblock %}
</head>

<body>
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/">The Evolution of Machine Learning</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted" href="{{ url_for('search') }}">
            Search<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
              viewBox="0 0 24 24" focusable="false">
              <title>Search</title>
              <circle cx="10.5" cy="10.5" r="7.5" />
              <path d="M21 21l-5.2-5.2" />
            </svg>
          </a>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="{{ url_for('how_topics_are_defined') }}">How Topics Are Defined</a>
        <a class="p-2 text-muted" href="{{ url_for('change_over_time') }}">Change Over Time</a>
        <a class="p-2 text-muted" href="{{ url_for('analysis_by_year') }}">Analysis by Year</a>
        <a class="p-2 text-muted" href="{{ url_for('papers') }}">All Papers</a>
        <a class="p-2 text-muted" href="{{ url_for('get_random_paper') }}">Random ML Paper</a>
        <!-- <a class="p-2 text-muted" href="{{ url_for('data_visualizations') }}">Data Visualizations</a> -->
      </nav>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12 blog-main">

          {% block content %}{% endblock %}

        </div>
      </div>
    </main>

    <footer class="blog-footer">
      <p>Website and Analysis by <a href="https://www.linkedin.com/in/stevenrouk/" target="_blank">Steven
          Rouk</a>.<br>Bootstrap template by <a href="https://twitter.com/mdo" target="_blank">@mdo</a>.</p>
    </footer>
</body>

</html>