{% extends "layout.html" %}

{% block title %}
List of Data Visualizations
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-12 font-italic">List of data visualization pages</h1>
    <p class="lead my-3">This is a running list of visualizations related to this project.</p>
  </div>
</div>

<div class="row">
  <ol>
    <li><a href="{{ url_for('bokeh_demo') }}">Bokeh Demo</a></li>
    <li><a href="{{ url_for('bokeh_scatter_plot') }}">Bokeh Scatter Plot</a></li>
    <li><a href="{{ url_for('bokeh_small_scatter_plot') }}">Small Bokeh Scatter Plot</a></li>
    <li><a href="{{ url_for('tsne') }}">t-SNE Plot</a></li>
    <li><a href="{{ url_for('boxplot_demo') }}">Boxplot Demo</a></li>
    <li><a href="{{ url_for('boxplot') }}">Boxplot</a></li>
    <li><a href="{{ url_for('change_over_time') }}">Change Over Time</a></li>
  </ol>
</div>
{% endblock %}