{% extends "layout.html" %}
{% block title %}
    Paper Report
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div><h1>{{ data['title'] }}</h1></div>
    <div class="container">
        <div class="flex-item">
            <div>full paper: <a href="{{ data['url'] }}" target="_blank">{{ data['url'] }}</a></div>
            <div>category: {{ data['set_spec'] }}</div>
            <div>subjects: {{ data['subjects'] }}</div>
            <div>authors: {{ data['authors'] }}</div>
            <div>date: {{ data['dates'] }}</div>
        </div>
        <div class="flex-item">
            <table>
                {% for val in data['loadings'].round(3) %}
                    <tr>
                        <td>{{ topics[loop.index0] }}</td>
                        <td>{{ val }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <div>{{ data['description'] }}</div>
    <hr>
    <h2>Similar Papers</h2>
    <div>
        <ol>
            {% for index, row in similar_documents.iterrows() %}
            <li><a href="{{ url_for('report', paper_idx=index) }}">{{ row['title'] }}</a></li>
            {% endfor %}
        </ol>
    </div>
    <hr>
{% endblock %}