{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-12 font-italic">The Omni-Search</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about
      what’s most interesting in this post’s contents.</p>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">1</strong>
        <h3 class="mb-0">Keyword Search</h3>
        <p class="card-text mb-auto">Search for research papers using keywords.</p>
        <p class="card-text mb-auto">
          <form action="" method="post" novalidate>
            {{ search_form.hidden_tag() }}
            <p>
              {{ search_form.search(size=32) }}
            </p>
            <p>{{ search_form.submit1() }}</p>
          </form>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">2</strong>
        <h3 class="mb-0">Get Topics for Text</h3>
        <p class="mb-auto">Paste in the abstract text for a machine learning research paper and get topics and similar
          papers.</p>
        <p class="mb-auto">
          <form action="" method="post" novalidate>
            {{ big_search_form.hidden_tag() }}
            <p>
              {{ big_search_form.search(cols="50", rows="2") }}
            </p>
            <p>{{ big_search_form.submit2() }}</p>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}